
#ui-rules-tabs .ui-tabs-hide,
#ui-tabs .ui-tabs-hide {
  display: none;
}
#style-override-properties-form {
  position:relative;
  text-align:left;
  display:block;
  height:250px;
  margin-top:20px;
}
#style-override-properties-form input{
  font-size:9.5px;
}
#ui-tabs .form-select {
  font-size:9.5px;
}
#ui-tabs ul li {
  list-style:none;
  background:none;
  margin:0px;
  padding:0px;
}
#ui-tabs ul li a {
  display:block;
  padding:2px 5px;
  width:140px;
  font-weight:bold;
}
#ui-tabs ul li.ui-tabs-selected a {
  background-color:#FFEABD;
}
#ui-tabs ul {
  display:block;
  width:100px;
  position:absolute;
  left:0px;
}
#ui-tabs .fonts,
#ui-tabs .padding,
#ui-tabs .background,
#ui-tabs .border {
  display:block;
  width:220px;
  position:absolute;
  top:0px;
  background-color:#FFEABD;
  padding:10px;
}
#ui-tabs .fonts {
  left:140px;
}
#ui-tabs .fonts {
  padding-right:500px;
}
#ui-tabs .background {
  left:380px;
}
#ui-tabs .padding {
  left:620px;
}
#ui-tabs .border {
  left:840px;
}
#ui-rules-tabs ul.ui-rules-tabs {
left:160px;
position:absolute;
top:-20px;
}
#ui-rules-tabs ul.ui-rules-tabs li{
  display:inline;
  font-weight:bold;
  background: #FFF;
  border: solid 1px #FFD;
  padding:5px 8px;
}
#ui-rules-tabs ul.ui-rules-tabs li.ui-state-active {
  background: #FFEABD;
}
#style-override-properties-form .form-item {
  position:relative;
  margin-bottom:-1px;
  margin-top:8px;
}
#style-override-properties-form .form-item input,
#style-override-properties-form .form-item select {
  position:absolute;
  right:0px;
  top:0px;
}
#style-override-properties-form select.font-family {
  right:0px;
  position:relative;
}
#style-override-properties-form .form-submit {
  bottom:20px;
  position:absolute;
  right:50px;
}
#style_override h2 {
 text-align:left;
 font-weight:normal;
 cursor:pointer;
 font-size:20px;
}

#style_override {
  line-height:20px;
  position:fixed;
  left:0px;
  bottom:0px;
  z-index:10;
  padding:20px;
  width:100%;
  font-size:9.5px;
  background: #FFF;
  border-top:solid 1px #DDD;
}
#style-override-properties-form {
  display:none;
}


/*ui slider*/
.ui-slider {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em;
	background: #eeeeee url(images/eeeeee_40x100_textures_03_highlight_soft_100.png) 0 0 repeat-x;
	border: 1px solid #dddddd;
	height: .8em;
	position: relative;
}
.ui-slider-handle {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	position: absolute;
	z-index: 2;
	top: -3px;
	width: 1.2em;
	height: 1.2em;
	background: #f6f6f6 url(images/f6f6f6_40x100_textures_02_glass_100.png) 0 50% repeat-x;
	border: 1px solid #cccccc;
}
.ui-slider-handle:hover {
	background: #fdf5ce url(images/fdf5ce_40x100_textures_02_glass_100.png) 0 50% repeat-x;
	border: 1px solid #fbcb09;
}
.ui-slider-handle-active, .ui-slider-handle-active:hover {
	background: #ffffff url(images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
	border: 1px solid #fbd850;
}
.ui-slider-range {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	height: .8em;
	background: #fdf5ce url(images/fdf5ce_40x100_textures_02_glass_100.png) 0 50% repeat-x;
	position: absolute;
	border: 1px solid #cccccc;
	border-left: 0;
	border-right: 0;
	top: -1px;
	z-index: 1;
	opacity:.7;
	filter:Alpha(Opacity=70);
}

.colorpicker {
  z-index:20;
}

